@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/pexels-pixabay-33688.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}

.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    background: rgba(14, 14, 14, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 50px;
}

header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(14, 14, 14, 0.3);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(14, 14, 14, 0.25);
    border-top: 1px solid rgba(14, 14, 14, 0.5);
    border-left: 1px solid rgba(14, 14, 14, 0.5);
}

header .logo {
    color: #0cadec;
    font-weight: 700;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid #0cadec;
    border-radius: 50%;
    padding: 7px;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #0cadec;
    padding: 8px 15px;
    border-radius: 25px;
    text-transform: uppercase;
}

header ul li a:hover {
    background: rgb(7, 7, 7);
    box-shadow: 0 5px 10px rgba(14, 14, 14, 0.1);
}

.content {
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 1);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(14, 14, 14, 0.25);
    border-top: 1px solid rgba(14, 14, 14, 0.5);
    border-left: 1px solid rgba(14, 14, 14, 0.5);
    padding: 40px;
    padding-left: 110px;
}

.content h2 {
    font-size: 25px;
    color: #0cadec;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.content p {
    font-size: 30px;
    color: #0cadec;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 20px;
}

.content a {
    display: inline-block;
    padding: 15px 30px;
    color: #0cadec;
    background: #0000;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.content a:hover {
    background: rgb(7, 7, 7);
    box-shadow: 0 5px 10px rgba(14, 14, 14, 0.1);
}

.imagebx {
    max-height: 400px;
}

.imagebx img {
    max-width: 400px;
    height: 400px;
    animation: animate 5s linear infinite;
    margin-right: 0;
}


/* @keyframes animate {
    0%,
    100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(100px);
    }
} */

.sci {
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: rgba(12, 173, 236, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.sci li a img {
    max-width: 30px;
    transform: scale(0.6);
    transition: 0.5s;
}

.sci li:hover a img {
    transform: scale(0.6) rotate(360deg);
}